@import "tailwindcss";

@theme {
  --color-rarity-common: #9e9e9e;
  --color-rarity-uncommon: #4caf50;
  --color-rarity-rare: #2196f3;
  --color-rarity-epic: #9c27b0;
  --color-rarity-legendary: #ffd700;
}

@layer base {
  body {
    background-color: rgb(17 24 39);
    color: rgb(255 255 255);
  }
}
